<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add QR Code</title>

    <style>
        .image-container {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <img src="<%=id%>.valid.png" alt="" width="250px">
        <br>
        <img src="<%=id%>.invalid.png" alt="" width="250px">
    </div>
    <form action="#" method="POST">
        <input type="submit" value="Benutzt">
    </form>
</body>
</html>